*{
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
}

.T{
    line-height: 100px;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#header{
    background-color: blanchedalmond;
    height: 100px;
}
#nav{
    background-color: burlywood;
    color: #FFF;
    width: 200px;height: 300px;
    float: left;
}

#section{
    width: 200px;
    /* height: 300px; */
    text-align: left;
    padding: 10px;
    float: left;
}

#footer{
    background-color: cornsilk;
    height: 100px;
    clear: both;
}

#header, #nav ,#section, #footer{
    text-align: center;
}

#header, #footer{
    line-height: 100px;
}
#nav, #section{
    line-height: 240px;
}