 /* TODO : 여기에 코드를 작성해보세요:)  */

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #FFF;
    color: #000;
    text-align: center;
    margin: 0;
 }

.wrapper{
    width: 960px;
    margin: 0 auto;
 }

header, footer{
    width: 960px;
    padding: 20px 0;
 }

nav, section{
    float: left;
    padding: 200px 0;
 }

footer{
    clear: both;
 }

nav{
    width: 200px;
    margin-right: 10px;
 }
section{
    width: 750px;
 }



header, nav, section, footer{
    border: 1px solid #000;
    border-radius: 3px;
    margin-bottom: 10px;

 }